---
import "../styles/global.css"
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout pageTitle="Home">
	<div class="h-dvh w-dvw bg-amber-950/80"></div>
	<!-- Hero section -->
	<!-- Club Events(things the club is doing) -->
	<!-- Benefits section -->
	<!-- Members section -->
	<!-- Testimonial section -->
	</BaseLayout>

