---
const{url , title}=Astro.props
import "../styles/global.css"
---
<!-- TODO: Blog post show title image, title, tags, publish date,author  -->
<li class="bg-amber-400"><a href={url}>{title}</a></li>